.headerOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  color: gray;
}

.headerOptions:hover {
  color: black;
}
.headerOption__icon {
  object-fit: contain;
  height: 25px;
  width: 25px;
}

.headerOption_title {
  font-size: 12px;
  font-weight: 400;
}
